@font-face {
    font-family: 'PoppinsRegular';
    src: local('PoppinsRegular'), url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 500;
  }
  
  @font-face {
    font-family: 'RobotoRegular';
    src: local('RobotoRegular'), url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 500;
  }
  