/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[10].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[10].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[10].use[5]!./src/components/VTable/Table.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Table_table__tLCBD {
  max-width: 150px;
  max-height: 150px;
  width: 100%;
  height: 100%;
  border: 1px solid white !important;
  border-collapse: collapse;
}
.Table_table__tLCBD .Table_row__98_K_ {
  height: 50px;
  width: 100%;
}
.Table_table__tLCBD .Table_row__98_K_ .Table_cell__MVMwZ {
  max-width: 50px;
  min-width: 50px;
  text-align: center;
  cursor: pointer;
  border: 1px solid black;
  border-collapse: collapse;
}
